<footer>
    <div class="container">
        <div class="sub-navigation">
            <div class="onsite-links">
                <a href="/join/">Join Us</a> &middot;
                <a href="/speak/">Submit a Talk</a> &middot;
                <a href="/sponsor/">Sponsor an Event</a>
                //
                <a href="https://twitter.com/awdg">Twitter</a> &middot;
                <a href="https://www.facebook.com/atlantaweb">Facebook</a> &middot;
                <a href="http://www.linkedin.com/groups/Atlanta-Web-Design-Group-1770134">LinkedIn</a>
            </div>
        </div>
        <div class="copyright">
            <div class="notice">
              <p>&copy; 2014 Atlanta Web Design Group &mdash; 1736 Defoor Place, Atlanta, GA 30318</p>
          </div>
      </div>
  </div>
</footer>
