{% extends "layouts/one-column.html" %}
{% block title %} Join  {% endblock %}
{% block main %}
<div class="row" >
    <div class="col-md-4">
        Signup with Social
    </div>
    <div class="col-md-8">
        <form class="form-signup" role="form" method="post" action="/members/join">
            <h2 class="form-signin-heading">Welcome.</h2>

            <!-- <div class="row">
                <div class="form-group col-md-6">
                    <label for="name-first">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" id="name-first" name="name-first"  required autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="name-last">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" id="name-last" name="name-last"  required autofocus>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="form-group col-md-6">
                    <label for="zip-home">Home Zip </label>
                    <input type="text" class="form-control" placeholder="Home Zip" id="zip-home" name="zip-home"  required autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="zip-work">Work Zip</label>
                    <input type="text" class="form-control" placeholder="30303" id="zip-work" name="zip-work"  required autofocus>
                </div>
            </div> -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email address" id="email" name="email"  required autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input id="password" name="password"type="password" class="form-control" placeholder="Password" required >
                </div>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}