{% extends "layouts/two-column.html" %}
{% block title %} Members {% endblock %}
{% block main %}
<div class="list">
    {% include "views/events/list-item.html" %}
    <div class="list-item row">
        <div class="col-md-7">
            <h3>Only the Brave Prevail</h3>
            <div class="meta-info">
                <div class="meta-date-time">June 26</div>
                <div class="meta-location"><a href="">Mailchimp</a></div>
            </div>
            <p class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years
            </p>
        </div>
        <div class="col-md-5">
            <img src="http://placehold.it/300x300">
        </div>
    </div>

</div>
{% endblock %}
{% block sidebar %}
<h2>Sidebar</h2>
{% endblock %}