{% extends "layouts/full.html" %}
{% block title %} Join  {% endblock %}
{% block content %}
<div class="row" >
    <div class="col-md-6">
        Signup with Social
    </div>
    <div class="col-md-6">
        <form class="form-signup" role="form" method="post" action="/join">
            <h2 class="form-signin-heading">Welcome.</h2>

            <div class="row">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email address" id="email" name="email"  required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password"type="password" class="form-control" placeholder="Password" required >
                </div>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}