/**
 * AWDG
 *
 * Libraries
 */

$fa-font-path:        "/fonts" !default;
@import "../../../bower_components/font-awesome/scss/font-awesome";

$baseFontFamily: 'FontAwesome';
$icon-font-path: "/fonts" !default;

@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";