/**
 * AWDG
 * Pedro
 * version 0.0.1
 */

 @import "variables","libs";

 $footerheight: 100px;
 $container-border: 1px solid darken($brand-primary, .5);

 html,body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto (-$footerheight);
    padding: 0 0 $footerheight;
}

nav {
    #brand img {
        margin:1em 3em 1em 0;
        width:64px;
    }
}

.one-col {
    @extend .container;
    padding-top:$navbar-height + 40px;
    padding-bottom: 5em;
}


.two-col {
    @extend .container;
    padding-top:$navbar-height + 40px;
    padding-bottom: 5em;
    >div {
        @include make_row();
        section {
            @include make-sm-column(8);
        }
        aside {
            @include make-sm-column(4);
        }
    }
}


.offsite-buttons {
    border-top: $container-border;
    clear: both;
    margin-top:3em;
    padding-top:1em;
    a {
        @extend .btn;
        @extend .btn-default;
        @extend .btn-sm;
        margin-bottom:10px;
    }
}

.block {
    clear:both;
}

.sponsors {
    margin:6em 0 2em;
    .sponsor-list {
        h5 {
            color: $gray-light;
            text-align: center;
            text-transform: uppercase;
        }
        @extend .row;
        @extend .well;
        .sponsor {
            @extend .col-md-2;
            img {
                @extend .img-responsive;
            }
        }
    }
}

.social-photo {
    @extend .img-responsive;
    @extend .img-rounded;
    margin-bottom: 2em;
}

.social-host {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 3em;
    padding-bottom: 2em;
    img {
        max-width: 90px;
    }
}

////////////////////////////
// Post Lists

.post-list {
    @include make-sm-column(10);
    .post {
        @include make-row();
        border-bottom: 1px solid #ddd;
        margin-top:1em;
        margin-left: -15px;
        margin-bottom:1em;
        padding-bottom: 1.5em;
    }
}

////////////////////////////
// Post Page

article.post-page {

    font-size: 1.2em;

    .post-header {
        border-bottom:1px solid $brand-primary;
        margin-bottom: 2em;

    }

    .post {
        border-bottom: 2px solid #eee;
        margin-bottom: 3em;
        p:first-of-type {
          @extend .lead;
      }
  }

  .post-pubdate {
    color:$gray;
}

figure {
    margin-bottom: 2em;
    img {
        margin-bottom: .5em;
        max-width: 100%;
    }
    figcaption {
      font-size: .9em;
      font-style: italic;
  }
}

}

////////////////////////////
// Events

.event-header {
    @extend .row;
    border-bottom: 2px solid $gray-lighter;
    margin-bottom: 2em;
    hgroup {
        @extend .col-md-9;
    }
    .actions {
        @extend .col-md-3;
    }
    .rsvp-button {
        @extend .btn ;
        @extend .btn-primary;
        @extend .pull-right;
        margin-top: 2em;
    }
}
.event-details p:first-of-type {
    @extend .lead;
}

.event-speaker {
    margin:3em 0;
    .speaker-header, .speaker-details {
        @include make-row();
    }
    .speaker-header > div {
        @include make-sm-column(12);
        h4 {
          color: $gray-light;
      }
  }
  .speaker-photo {
    @include make-sm-column(4);
    img {
        @extend .img-responsive;
        @extend .img-thumbnail;
    }
}
.speaker-bio {
    @include make-sm-column(8);
    h2, h3 {
        margin-top: 0;
    }
}
.speaker-links {
    margin-top:1em;
    a {
        @extend .btn;
        @extend .btn-default;
        @extend .btn-sm;
    }
}
}
.event-rsvp {
    border-width: 1px 0;
    border-color: $gray-lighter;
    border-style:solid;
    margin-bottom:4em;
    padding:1em;
    p {
        font-size:2em;
        font-weight: bold;
    }
}

.event-sponsor {
    border-bottom: 1px solid $gray-lighter;
    color:$gray;
    margin-bottom: 3em;
    padding-bottom: 2em;
}

////////////////////////////
// Forms

form.primary {
    @extend .col-md-10;
}

.info-section {
    label.text, div.text {
        @extend .control-label;
        @extend .col-sm-3;
    }
    .full {
        @extend .col-sm-9;
    }
    .name div:first-of-type {
        @extend .col-sm-4;
    }
    .name div:last-of-type {
        @extend .col-sm-5;
    }
    input[type=text],input[type=email],input[type=url],input[type=file], textarea {
        @extend .form-control;
    }
}
.radio-group, .form-actions {
    @include make-sm-column(9);
    @include make-sm-column-offset(3);
}
.form-actions {
    margin-top:2em;
}


///////////////////////////////////////////////////////////////////////
// FOOTER

footer {
    background-color: $brand-primary;
    border-top: $container-border;
    color: #eee;
    font-size: 13px;
    height: $footerheight;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    a {
        color:#fff;
        font-size: 1.25em;
        &:hover {
            color:#fff;
        }
    }
    .sub-navigation, .copyright {
        @include make-row();
    }
    .notice {
        @include make-md-column(12);
        padding: 1.5em 0 0;
    }
}
