// awdg

@import "libs";
.container{
    margin-bottom:5px;
    border: 1px solid #ccc;
    background-color: #efefef;

}
.events {
    .list{
        .list-item{
            border: 1px solid #efefef;
        }
    }
}
.home{
  .events-list{
    .list-item{
        border: 1px solid #000;
    }
}
}